<!DOCTYPE html>
<html>
  <head>
    <title>FinlayDaG33k's Anime List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FinlayDaG33k's Anime List">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://dpm.finlaydag33k.nl">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FinlayDaG33k's Anime List">
    <meta property="og:description" content="View FinlayDaG33k's Anime List">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="ninym.finlaydag33k.nl">
    <meta property="twitter:url" content="https://ninym.finlaydag33k.nl/anidb">
    <meta name="twitter:title" content="FinlayDaG33k's Anime List">
    <meta name="twitter:description" content="View FinlayDaG33k's Anime List">

    <!-- Stylesheet -->
    <style>{{css}}</style>
  </head>
  <body>
    <h1>FinlayDaG33k's Anime List</h1>
    {{#if data}}
      Anything rated above a 6.5 is a recommended watch.<br />
      Links open to their respective AniDB pages.
      <table>
        <thead>
        <th>Name</th>
        <th>Recommended?</th>
        <th>Progress</th>
        <th>Status</th>
        </thead>
        <tbody>
        {{#each data as |entry|}}
          <tr>
            <td>
              <a href="https://anidb.net/anime/{{entry.id}}" target="_blank">{{entry.name}}</a>
            </td>
            <td>{{entry.rating}}</td>
            <td>{{entry.progress}}</td>
            <td>
              {{entry.status}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      No data could be obtained please try again later.
    {{/if}}
  </body>
</html>
